body {
  padding: 0;
  margin: 0;
  background-color: rgb(71, 71, 71);
  color: white;
  font: 15px Verdana;
}

*{
  box-sizing: border-box;
}

button{
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  transition: 0.1s linear;
  font-size: 1.25rem;
}

button:hover:not(#colorPickerTool){
  background-color: rgba(255, 255, 255, 0.2) !important;
}
  

#wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

  #menu{
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 1000;
    border-bottom: 2px solid orange;
    box-shadow: 0px 1px 5px 0px orange
  }

    .menu-item {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
    }

    .menu-item.selected{
      color: orange;
    }

    #title {
      color: orange;
      font-weight: bold;
    }

    input[type="number"], input[type="text"]{
      padding: 0.35rem;
      background-color: transparent;
      color: inherit;
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-radius: 5px;
    }

    input[type="number"]{
      width: 5rem;
    }

    #fileUploadGroup {
      position: relative;
      width: 120px;
      margin-left: auto;
    }

    #openImage{
      position: absolute;
      top: 0px;
      left: 0px;
      height: 60px;
      margin-left: auto;
      display: flex;
      color: orange;
      align-items: center;
    }

    #openedImageFile { 
      height: 60px; 
      width: 100%;
      z-index: 1;
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 60px;
      cursor: pointer;
    }

    #downloadImage {
      height: 60px;
      display: flex;
      color: orange;
      align-items: center;
      margin-right: 1rem;
    }

    #downloadImage .fa, #openImage .fa {
      margin-left: 0.5rem;
    }

  #flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 63px);
    justify-content: stretch;
  }

    #tools {
      width: 60px;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

      .tool {
        width: 60px;
        height: 60px;       
        font-size: 1.5rem; 
      }

      .tool#colorPickerTool{
        margin-top: auto;
      }

      #color-picker{
        height: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
      }

    #drawing-area{
      flex-grow: 1;
      background-color: white;
    }

      .size-label-box {
        fill: lightgray;
      }

      .size-label{
        font-size: 0.8rem;
        fill:rgb(71, 71, 71);
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
      }

    #shapes {
      width: 200px;
      max-width: 25vw;
      display: flex;
      flex-direction: column;
    }

      .list-shape-item{
        padding: 0.9rem;
        margin: 0.1rem;
        border: 1px solid rgba(255, 255, 255, 0.2);
        cursor: pointer;
      }

      .list-shape-item input {
        width: calc(100% - 0.9rem);
        font-size: 1rem;
      }

      .list-shape-item:hover, .list-shape-item.selected{
        background-color: rgba(255, 255, 255, 0.2);
      }

      .list-shape-item.selected {
        outline: 1px solid rgba(255, 255, 255, 0.5); /* inner stroke */
        outline-offset: -2px;  /* negative border width + outline width */
      }

      .action {
        width: 40px;
        height: 40px;
      }

      #actions {
        margin-top: auto;
      }

      .action > i{
        font-size: 1.5rem;
      }